<% provide(:title, "编辑用户") %>
<h1>编辑用户</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :mobile %>
        <%= f.text_field :mobile %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "保存", class: "btn btn-large btn-primary" %>
    <% end %>

    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>