<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Truename:</strong>
  <%= @user.truename %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>

<p>
  <strong>Password reset token:</strong>
  <%= @user.password_reset_token %>
</p>

<p>
  <strong>Password reset sent at:</strong>
  <%= @user.password_reset_sent_at %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<p>
  <strong>Descript:</strong>
  <%= @user.descript %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @user.qq %>
</p>

<p>
  <strong>Auth token:</strong>
  <%= @user.auth_token %>
</p>

<p>
  <strong>Stores count:</strong>
  <%= @user.stores_count %>
</p>

<p>
  <strong>Points:</strong>
  <%= @user.points %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
